<nav class="navbar navbar-expand-md navbar-light bg-white border">
    <a class="navbar-brand" href="#">
      <img src="assets/image/tinylogo.png" class="logo center-block" width="50" height="50">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/map">Map</a>
      <a class="nav-link" href="#">Leaderboards</a>
      <a class="nav-link" href="#">Gallery</a>
    </ul>
  </div>
  </nav>

  <img src="assets/image/logoLetters.png" class="logo center-block logoLetters">

      <router-outlet></router-outlet>